<h1>This lists all the investors.</h1>
<p>This view is reserved for admin and account managers</p>

<% @users.each do |user| %>
	<div>
	 Name: <%= user.name %> | 
	 Balance: <%= user.balance %> |
	 Open Trades: <%= user.trades.where(trade_open: true) %> |
	 link_to view user |
	 link_to edit user |
	 link_to remove user
	</div>

<% end %>
