<p>this is a page to create a new investor.  This is the form sent on a sign-up request.</p>

<ul>
	<li>name</li>
	<li>username</li>
	<li>email</li>
	<li>password</li>
	<li>password_confirmation</li>
	<li>submit</li>

</ul>

<p>has a link_to cancel</p>
